.banner-top{
    display: flex;
    grid-gap: 30px;
}

@media only screen and (max-width:688px) {
    .banner-top{
        display: inline-block;
    }
    .banner-top img{
        width: 400px;
        padding-top: 30px;
    }
    
}